@model CartSummaryViewModel

@{
    Layout = null;
}

@foreach (var item in Model.Cart.CartLines)
{
    <li>
        <a>@item.Product.ProductName <span class="badge">@item.Quantity</span></a>
    </li>
}
<li><hr class="dropdown-divider"></li>
<li>
    <a><span class="glyphicon glyphicon-left glyphicon-shopping-cart" aria-hidden="true">@Model.Cart.Total</span></a>
</li>
<li><hr class="dropdown-divider"></li>
<li>
    <a asp-controller="Cart" asp-action="List">Go to Cart Details</a>
</li>